@page "/"

@inject HttpClient HttpClient

<CustomizeToolbox />
<div class="search-section">
    <h1>Search for country infos</h1>
    <div class="search-bar-wrapper">
        <input class="search-field"
               placeholder="Search..."
               type="text"
               @bind-value="SearchTerm" />
        <input class="search-btn"
               value="Search"
               type="submit"
               @onclick="(() => GetData())" />
    </div>
</div>
<div class="data-cards-wrapper">
    @foreach (var country in SearchedCountries)
    {
        <ResultBox Country="country" />
    }
</div>

@code {
    public List<CountryModel> SearchedCountries { get; set; } = new List<CountryModel>();
    public string SearchTerm { get; set; }

    public async Task GetData()
    {
        string uriString = $"https://restcountries.eu/rest/v2/name/{ SearchTerm }?fullText=true&fields=name;currencies;population;alpha2Code;topLevelDomain;callingCodes;capital;timezones;subregion;nativeName";

        Uri uri = new Uri(uriString);

        var result = await HttpClient.GetAsync(uri);
        var jsonString = await result.Content.ReadAsStringAsync();
        result.Dispose();
        SearchedCountries.Insert(0, JsonConvert.DeserializeObject<List<CountryModel>>(jsonString)[0]);
    }
}




