@inherits LayoutComponentBase

<div class="custom-navbar">
    <a href="/">
        <img src="img/CI_logo.png"
             alt="logo"
             class="nav-logo" />
    </a>
</div>

<div>
    @Body
</div>
