<div class="data-card">
    <div class="data-card-header">
        <h2>@Country.Name</h2>
        <img src=@Country.Flag>
    </div>
    <div>Population: @Country.Population</div>
    <div>Currency: @Country.Currencies[0]["code"]</div>
</div>

@code {
    [Parameter] public CountryModel Country { get; set; }
}
