/*------------------------*/
/*GLOBAL SETUP*/
/*------------------------*/

/* #555372 - logo prim */
/* #b6d5e0 - logo sec */


/* #292837 - font prim */
/* #6eacc2 - f0nt sec */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*border-color: aqua;
  border-style: solid;
  border-width: 1px;
  */
}

html {
  background-color: #ffffff;
  color: #555372;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}*/

/*------------------------*/
/*HEADINGS*/
/*------------------------*/
h1,
h2 {
  font-weight: 300;
}

h1 {
  color: #555372;
  font-size: 150%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 120%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 0.5px;
}

/*------------------------*/
/*NAV BAR*/
/*------------------------*/

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
}

.nav-logo {
  height: 36px;
  margin-left: 7vw;
}

.menu-wrapper {
  margin-right: 7vw;
}

.nav-btn {
  margin-left: 40px;
  text-decoration: none;
  color: #555372;
  font-weight: 400;
}

.nav-btn {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s;
}

  .nav-btn:hover,
  .nav-btn:active {
    border-bottom-color: #6eacc2;
  }

/*---SEARCH SECTION---*/

.search-section {
  display: flex;
  margin: 30vh 7vw 0 7vw;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
}

.search-field {
  height: 38px;
  width: 40vw;
  background-color: #fff;
  border: 1px solid #6eacc2;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #292837;
  border-radius: 19px;
  text-indent: 20px;
}

.search-btn {
  height: 38px;
  width: 100px;
  margin-left: 20px;
  color: #fff;
  background-color: #6eacc2;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 19px;
}

.data-cards-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 7vw;
  height: 40vh
}

.data-card {
  width: 200px;
  height: 100px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

/*---SEARCH RESULTS---*/

.search-results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.results-list {
  display: block;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 7vw;
  justify-content: space-between;
  align-items: stretch;
}

.features-column {
  text-align: justify;
  max-width: 49%;
  margin: 0 0 20px 0;
  padding: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

.feature-icon {
  display: inline-block;
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.features-column p {
  margin: 10px 0 0 0;
}

/*---HOW IT WORKS---*/

.how-it-works-section {
  margin-top: 40px;
}

.how-it-works-row {
  display: flex;
  justify-content: space-between;
  margin: 0 7vw auto 7vw;
  padding-bottom: 40px;
}

.how-it-works-graphic {
  max-width: 49%;
}

.how-it-works-row img {
  height: 100%;
  width: 100%;
  padding-left: 10%;
}

.steps-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 49%;
}

.step {
  padding: 0 10% 0 0;
  margin: 0 0 14px 0;
}

  .step div {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #248972;
    border: 1px solid #248972;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
  }

  .step p {
    display: inline-block;
    font-size: 18px;
    margin-left: 4px;
    text-align: justify;
    max-width: 70%;
    vertical-align: middle;
  }

/*---FOOTER---*/

/*
footer {
  height: 16vh;
  margin-top: 50px;
  background-color: #245489;
  color: white;
}

.footer-logo {
  height: 6vh;
  margin-top: 1vh;
  margin-left: 7vw;
}
    */

/*---MOBILE--*/
.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 18vh 0 10vh 0;
  height: 72vh;
}

.mobile-nav-btn {
  display: inline;
  text-decoration: none;
  font-size: 140%;
  color: #245489;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 0 auto;
}

.menu-btn {
  width: auto;
  height: 4vh;
  margin: 2vh 7vw 2vh 0;
}

ion-icon {
  color: #248972;
  height: 30vh;
  width: 30vh;
  margin: 50px 0 0 50px;
}
